html {
    cursor: none;
}
body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    background: #DDDDDD;
    /*Because why not, that's why*/
}
#cursor {
    position: absolute;
}
